extends layout

block content
	h1= title

	p
		| This is a coffee-script template app showing the use of&nbsp;
		a(href='http://www.neo4j.org/', target='_blank') Neo4j
		|  with Node.js. It uses the&nbsp;
		a(href='https://github.com/thingdom/node-neo4j', target='_blank') node-neo4j
		|  library, and extends on&nbsp;
		a(href='https://github.com/aseemk/node-neo4j-template', target='_blank') aseemk's node-neo4j-template

	p
		strong
		| Get started:&nbsp;
		a(href='/users') View all users